body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'optima', 'optima', 'optima';
    padding: 0px;
    list-style: none;
    font-weight: normal;
}
nav ul li, footer ul li {
    text-align-last: center;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-style: oblique;
    font-weight: bold;
    color: #000;
    position: fixed;
    top: 30px;
    width: 100%;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    margin-left: 500px;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    text-align-last: center;
    font-family:'optima', 'optima', 'optima';
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
